Package: games-chess
Source: debian-games
Version: 2
Architecture: all
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Installed-Size: 24
Depends: games-tasks (= 2)
Recommends: 3dchess, brutalchess, chessx, convert-pgn, dreamchess, eboard, eboard-extras-pack1, eleeye, fairymax, fruit, gameclock, glaurung, gmchess, gnuchess, gnuchess-book, gnushogi, hachu, hoichess, pgn-extract, pgn2web, phalanx, polyglot, pychess, scid, shogivar, sjaakii, sjeng, stockfish, tagua, toga2, tourney-manager, uci2wb, xboard, xshogi
Suggests: gnome-games, kdegames, texlive-games
Section: metapackages
Priority: optional
Homepage: http://blends.debian.org/games/tasks/
Description: Debian's chess games
 This metapackage will install chess games and helper tools.
